<div class="radio-btn-container">
    <input type="radio" class="radio-btn" name="choice" id="single" />
    <label for="single" class="label">Single server installation(Low performance)</label>
  </div>

  <div class="radio-btn-container">
    <input type="radio" class="radio-btn" name="choice" id="multi" />
    <label for="multi" class="label">Multiple server installation(Recommand)</label>
  </div>

  <div class="radio-btn-container disable">
    <input disabled=true type="radio" class="radio-btn disable" name="choice" id="hv" />
    <label disabled=true for="hv" class="label disable">HA configuration installation(Enterprise level)</label>
  </div>
