$primary-color: black;
$accent-color: #A0B971;
$disable-color: #808080;

.radio-btn-container:not(.disable) {
  &:hover>.label {
    &::before {
      // 우측으로 살짝 이동
      margin-right: 1rem;
    }
  }
}

.radio-btn {
  position: absolute;
  opacity: 0;
  visibility: hidden;

  &:checked+.label {
    color: $accent-color;

    &::before {
      border: 0.5rem solid $accent-color;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  color: $primary-color;
  cursor: pointer;
  transition: all 0.25s linear;
}

.label.disable {
  color: $disable-color;
}

.label.disable::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  border: 0.2rem solid $disable-color;
  border-radius: 50%;
  transition: all 0.25s linear;
}

.label:not(.disable)::before {
  display: inline-block;
  content: "";
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  border: 0.2rem solid $primary-color;
  border-radius: 50%;
  transition: all 0.25s linear;
}
