<h3>
  설치 형태
</h3>

<p>
  설치할 방법을 선택해주세요. 서버로 사용할 수 있는 자원이 충분한 경우, Multiple Server Installation으로 시작하면 쾌적한 환경에서 제품을 운영할 수 있습니다. 더 자세한 정보를 원하시면,
  정보(i) 아이콘을 클릭해주세요.
</p>

<div class="radio-btn-container">
  <input type="radio" class="radio-btn" name="choice" id="single" />
  <label for="single" class="label">Single server installation(Low performance)</label>
</div>

<div class="radio-btn-container">
  <input type="radio" class="radio-btn" name="choice" id="multi" />
  <label for="multi" class="label">Multiple server installation(Recommand)</label>
</div>

<div class="radio-btn-container disable">
  <input disabled=true type="radio" class="radio-btn disable" name="choice" id="hv" />
  <label disabled=true for="hv" class="label disable">HA configuration installation(Enterprise level)</label>
</div>
